.custom-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-image {
    height: 150px;
    object-fit: cover;
}

.precio-regular {
    text-decoration: line-through;
}

.precio-oferta {
    color: red;
    font-weight: bold;
}