.product-detail-container {
    text-align: center;
}

.product-image {
    max-width: 300px; 
    margin: 20px 0; 
}

.counter-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 10px; 
}

.counter-value {
    margin: 0 10px; 
    font-size: 1.5rem; 
}

.add-to-cart-button {
    margin-top: 20px; 
}

.precio-oferta {
    font-weight: bold; 
    color: green; 
}